---
root: true
parser: babel-eslint
extends: airbnb-base
env:
  browser: true

parserOptions:
  sourceType: module

rules:
  import/extensions: off
  func-names: off
  no-underscore-dangle: off
  prefer-rest-params: off
  semi-style: off
  no-tabs: off
  no-debugger: 2
  no-bitwise: off
  vars-on-top: off
  no-control-regex: off
  no-multi-assign: off
  no-param-reassign: off
  no-restricted-globals: off
  no-self-compare: off

  comma-dangle:
    - warn
    - always-multiline

  indent:
    - 2
    - tab
    - SwitchCase: 1
